[submodule "scripts/word_embeddings/tools/extern/CLI11"]
	path = scripts/word_embeddings/tools/extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "scripts/word_embeddings/tools/extern/cnpy"]
	path = scripts/word_embeddings/tools/extern/cnpy
	url = https://github.com/leezu/cnpy
	branch = libzip
[submodule "scripts/word_embeddings/tools/extern/sparsepp"]
	path = scripts/word_embeddings/tools/extern/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "scripts/word_embeddings/third_party/pybind11"]
	path = scripts/word_embeddings/third_party/pybind11
	url = https://github.com/pybind/pybind11/
[submodule "scripts/word_embeddings/third_party/sentencepiece"]
	path = scripts/word_embeddings/third_party/sentencepiece
	url = https://github.com/google/sentencepiece/
