[submodule "scripts/word_embeddings/third_party/pybind11"]
	path = scripts/word_embeddings/third_party/pybind11
	url = https://github.com/pybind/pybind11/
[submodule "scripts/word_embeddings/third_party/sentencepiece"]
	path = scripts/word_embeddings/third_party/sentencepiece
	url = https://github.com/google/sentencepiece/
